doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-3.4.1.min.js")
    script(src='/javascripts/_req.js')
  body
    block content
    hr
    h3 get request
    div(id="app")
